
#navbar {
    padding-bottom: 3%;
}

body {
    padding-top: 75px;
}

footer {
    text-align: initial;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fa-trash {
    float:right;
}

#graph {
    padding-bottom: 75px;
}